@model UserLinkViewModel

<li class="nav-item">
    <a class="nav-link" asp-action="Profile" asp-controller="Account">
        <img src="@(string.IsNullOrEmpty(Model.Image) ? "/StandartImages/default.webp" : $"/images/50_{Model.Image}")"
             alt="@Model.Name"
             class="rounded-circle object-fit-cover"
             style="width: 32px !important; height: 32px !important;" />
             @Model.Name
    </a>

</li>