@model PaginationViewModel

@if (Model.TotalPages > 1)
{
    <div class="mt-4">
        <nav aria-label="Pagination" class="d-flex justify-content-center my-3">
            <ul class="pagination">
                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="?page=@(Model.CurrentPage - 1)">Попередня</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }

                <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="?page=@(Model.CurrentPage + 1)">Наступна</a>
                </li>
            </ul>
        </nav>
    </div>
}
