@model ProductSearchViewModel

@{
    var categories = Model.Categories.Select(x => new SelectListItem
    {
		Text = x.Name,
		Value = x.Id.ToString()
    });

    var itemsPerPage = Model.Pagination.Elements.Select(x => new SelectListItem
    {
	    Text = x.ToString(),
	    Value = x.ToString()
    });
}

<form asp-action="Index" method="get" class="shadow rounded bg-light mb-3 p-2">
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                @Html.DropDownListFor(m => m.CategoryId, categories, new { @class = "form-select" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
        </div>

        <div class="col-md-3 d-flex align-items-center justify-content-center gap-3">
            <input type="submit" value="Пошук" class="btn btn-primary" />
            <a asp-action="Index" class="ms-2 btn btn-info">Очистити</a>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-3">
            <label asp-for="Pagination.ItemsPerPage" class="form-label"></label>
            @Html.DropDownListFor(i => i.Pagination.ItemsPerPage, itemsPerPage, new { @class = "form-select" })
        </div>
    </div>

    <input asp-for="Pagination.CurrentPage" type="hidden" />
</form>