@model ProductListViewModel

<div class="container mt-5">
    <h2 class="text-center mb-4">Категорії мультфільмів</h2>

	@await Html.PartialAsync("_ProductSearchItem", Model.Search)

	@await Html.PartialAsync("_ListProductItems", Model.Products)
</div>

