<div class="col-md-3 col-lg-2 bg-light border-end vh-100 p-3">
	@await Component.InvokeAsync("AdminPreview")

    <div class="accordion" id="adminMenu">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingUsers">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsers">
                    Користувачі
                </button>
            </h2>
            <div id="collapseUsers" class="accordion-collapse collapse" data-bs-parent="#adminMenu">
                <div class="accordion-body ps-3">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" asp-action="AllUsers" asp-controller="User" asp-area="Admin">Перегляд</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Додати</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCategories">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategories">
                    Категорії
                </button>
            </h2>
            <div id="collapseCategories" class="accordion-collapse collapse" data-bs-parent="#adminMenu">
                <div class="accordion-body ps-3">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#">Перегляд</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Додати</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>